<!doctype html>

<html lang="en">

<head>

    <title>Colleges: Training and Education</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

    <style>

        /* * {
         cursor:none;
        } */

    </style>




    <link href="templates/css/colleges.css" rel="stylesheet">

</head>

<body>
<section id="pageName">
    <p>{{pageName}}</p>
</section> <!--pageName-->

<section id="pageTitle">
    <h1 class="title">{{pageTitle}}</h1>
</section> <!--pageTitle-->

<section id="pageImage">
    <img src="images/logos.png" alt="logos">
</section> <!--pageImage-->

<section id="pageSummary">
    <h2>{{pageSummary}}</h2>
</section> <!--pageSummary-->

<section id="pageDetails">
    <h4>{{pageDetails}}</h4>
</section> <!--pageDetails-->

</body>

</html>